*
{
   box-sizing:border-box;
   margin:0;
   padding:0px;
}
a{
    text-decoration: none;
}

.menu_active{
    background-color: red;
    color: #fff;
}

.logo
{
    font-size: 25px;
    font-weight: bold;
}

.btn-start
{
    display: inline-block;
    width:135px;
    height:40px;
    border-radius: 10px;
    border: 0.5px solid grey;
    text-align: center;
    color:black;
    transition: 0.5s;
}

.btn-start:hover{

    background-color: rgb(152, 152, 255);
}

.animated
{
    animation-name:example;
    position:relative;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@keyframes example {
     0%{
        left:0px; top:0px;
     }
     50%
     {
        left:0px; top:20px;
     }
     100%
     {
        left:0px; top:0px;
     }
}

#header
{
    height:650px;
}